<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered border-secondary align-middle">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">UserId</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }">
        <tr>
          <td scope="row" class="text-center">{{post.id || "-"}}</td>
          <td class="text-center">{{post.userId || "-"}}</td>
          <td>{{post.title || "-"}}</td>
          <td >{{post.body || "-"}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
</div>